*{
	margin: 0;
	padding: 0;
}

.x2cell input, .x3cell input {
	width: 70px;
	height: 70px;
	font-size: 25px;
}

.x2cellr input, .x3cellr input{
	width: 70px;
	height: 70px;
	font-size: 25px;
}

.x2cellbtn input, .x3cellbtn input{
	margin: 10px !important;
}

.btn{
	margin: auto;
}
.card{
	width: 500px;
	height: 500px;
}
.card-body{
	margin: auto;
}
.x2{
	margin: 0;
}

.flex{
	margin: 100px auto;
	width: 70%;
	display: flex;
	justify-content: space-between;
}
h1{
	text-align: center;
}
h4{
	margin: 0;
}
footer, header{
	width: 100%;
	height: 50px;
	background-color: #404040;
	color: white;
}
@media only screen and (max-width: 600px) {

	.flex{
		flex-direction: column;
		width: 95%;
		margin: 10px auto;
	}
	.card{
		width: 100%;
		height: 100%;
	}
	h1{
		font-size: 32px !important;
		text-align: left;
	}
  }