
*{
    font-family: 'Montserrat', sans-serif;
}

.header{
    background-color: #374a67;
    background-image: url("images/coverv2.png");
    color: #F7996E;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

.flex{
    display: flex;
}

.content{
    width: 500px;
    margin: auto;
}

.content h1{
    letter-spacing: 8px;
    font-size: 50px;
    margin-bottom: 10px;
}

.content h4{
    margin-top: 10px;
    font-size: 20px;
}

.divider{
    border-top: 1px solid #F7996E!important;
}

.section-about{
    background-image: url("images/about-background.png");
    background-position: bottom;
    background-repeat: no-repeat;
}


.background{
    width: 100vw;
    height: 100vh;
    
}

.content-about{
    width: 500px;
    text-align: justify;
    margin: -15% 0 0 8%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.first-project{
    height: 100vh !important;
    width: 100vw;
    background-image: url("images/biblioteca-background.png");
    color: white;
    display: flex;
    background-size: cover;
}

.first-project-border{
    height: 798px;
    margin: auto;
}

.first-project-content{
    height: 798px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.first-project-image{
    display: flex;
    height: 798px;
    border-right: 5px solid #F7996E;
    width: 250px;
}

.first-project-image img{
    height: 705px;
    width: 245px;
    object-fit: cover;
    object-position: left;
    margin: auto;
}

.first-project-info{
    width: 356px;
    height: 705px;
    margin-top: 46.5px;
    text-align: justify;
    display: flex;
    background-color: #374a67;
}

.first-project-text{
    margin: auto;
    padding: 30px;
    line-height: 1.5;
}

.first-project-text a{
    float: right;
    color: white;
}

.first-project-text a:link{

}

.first-project-text a:visited{
    color: white;
}

.first-project-text a:hover{
    color: #F7996E;
}

.first-project-text a:active{
    color: #F7996E;
}

.first-project-text p{
    margin: 30px 0 0 0;
}

.contato{
    background-color: #0E1116;
    color: white;
}
.contato h1{
    text-align: center;
}

.contato h1{
    margin: auto;
}

.contato-content{
    margin: auto;
}

.telefone{
    width: 565px;
    border-bottom: 1px solid #ffffff;
    margin: auto;
    text-align: center;
    font-size: 25px;
}
.email{
    width: 668px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    border-bottom: 1px solid #ffffff;
}

.email p, .telefone p {
    margin: 0;
}

.socials{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    text-decoration: none;
    color: white;
}


.socials a{
    color: white;
    text-decoration: none;
}

.black{
    color: black;
}


.second a:link{
    color: black;
}

.second a:visited{
    color: black;
}

.second a:hover{
    color: #F7996E;
}

.second a:active{
    color: #F7996E;
}

.second p{
    margin: 30px 0 0 0;
}

.skills{
    background-color: #1B9AAA;
}


.formacao{
    display: flex;
}

.dates {
    padding: 10px;
    border-right: solid;
    text-align: right;
}

.places{
    padding: 10px;
}

.dates p{
    font-weight: bolder;
}

.places p{
    font-weight: bold;
}

.item{
    margin: 30px;
}
.font-12{
    margin: 0;
    font-size: 12px;
}

.item p{
    margin: 5px 0 5px 0;
}

.skills-content{
    width: 900px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 100px;
}

.hab-content{
    display: flex;
}
.line{
    margin: 24px 10px 24px 50px
}

.info p{
    font-weight: bold;
    font-size: 20px;
}
.center{
    font-size: 40px;
    text-align: center;
    margin-top: -100px;
    margin-bottom: 150px;
}

.download-cv{
    text-align: center;
    background-color: #374a67;
    width: 200px;
    margin: auto;
    padding: 15px;
    letter-spacing: 5px;
}

.download-cv a{
    text-decoration: none;
}

.download-cv a:link{
    color: #F7996E;
}

.download-cv a:visited{
    color: #F7996E;
}

.download-cv a:hover{
    color: black;
}

.download-cv a:active{
    color: #F7996E;
}


/* 
.header{
    background-color: #374a67;
    color: #F7996E;
}

.content{
    width: 430px;
    position: relative;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}



.header img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    opacity: .1;
}

.about{
    height: 100vh;
    width: 100vw;
    background-color: #DBDAE3;
}

.about img{
    width: 50vw;
    object-fit: fill;
}

.background{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(35deg, #C4C4C4 50%, #1B9AAA 50%);
}





.first-project{
    height: 100vh !important;
    width: 100vw;
    background-image: url("images/biblioteca-background.png");
    color: white;
    display: flex;
    background-size: cover;
}

.first-project-border{
    height: 798px;
    margin: auto;
}

.first-project-content{
    height: 798px;
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.first-project-image{
    display: flex;
    height: 798px;
    border-right: 5px solid #F7996E;
    width: 250px;
}

.first-project-image img{
    height: 705px;
    width: 245px;
    object-fit: cover;
    object-position: left;
    margin: auto;
}

.first-project-info{
    width: 356px;
    height: 705px;
    margin-top: 46.5px;
    text-align: justify;
    display: flex;
    background-color: #374a67;
}

.first-project-text{
    margin: auto;
    padding: 30px;
}

.first-project-text p{
    margin: 30px 0 0 0;
}








.contato{
    height: 100vh !important;
    width: 100vw;
    background-color: #0E1116;
    color: white;
    display: flex;
}

.contato h1{
    margin: auto;
}

.contato-content{
    margin: auto;
}

.telefone{
    width: 565px;
    border-bottom: 1px solid #ffffff;
    margin: auto;
    text-align: center;
    font-size: 25px;
}
.email{
    width: 668px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    border-bottom: 1px solid #ffffff;
}

.email p, .telefone p {
    margin: 0;
}

.socials{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    text-decoration: none;
    color: white;
}


.socials a{
    color: white;
    text-decoration: none;
} */